In [54]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

## Reading the Data First

In [ ]:
# df=pd.read_csv("cars_24_combined.csv")
# print(df)
# print(df.head())
# print(df.info())
# print(df.describe())

      Unnamed: 0                Car Name    Year  Distance  Owner    Fuel  \
0              0         Maruti S PRESSO  2022.0      3878      1  PETROL
1              1           Hyundai Xcent  2018.0     32041      1  PETROL
2              2             Tata Safari  2021.0     96339      1  DIESEL
3              3    Maruti Vitara Brezza  2019.0     51718      1  DIESEL
4              4              Tata Tiago  2021.0     19811      1  PETROL
...          ...                     ...     ...       ...    ...     ...
8010        8010          Datsun Redi Go  2018.0     11500      1  PETROL
8011        8011            Toyota YARIS  2018.0     73393      2  PETROL
8012        8012         Volkswagen Ameo  2016.0     83810      2  PETROL
8013        8013  Hyundai GRAND I10 NIOS  2019.0     39162      1  PETROL
8014        8014              Tata TIGOR  2022.0     82009      2  PETROL

     Location      Drive       Type    Price
0       HR-98     Manual  HatchBack   514000
1       TN-22     Manual      Sedan   674000
2       TS-08  Automatic        SUV  1952000
3       WB-24     Manual        SUV   690000
4       HR-51     Manual  HatchBack   526000
...       ...        ...        ...      ...
8010    MH-01     Manual  HatchBack   292000
8011    KA-03     Manual      Sedan   534000
8012    UP-78     Manual      Sedan   424000
8013    CH-01  Automatic  HatchBack   685000
8014    MH-02     Manual      Sedan   392000

[8015 rows x 10 columns]
   Unnamed: 0              Car Name    Year  Distance  Owner    Fuel Location  \
0           0       Maruti S PRESSO  2022.0      3878      1  PETROL    HR-98
1           1         Hyundai Xcent  2018.0     32041      1  PETROL    TN-22
2           2           Tata Safari  2021.0     96339      1  DIESEL    TS-08
3           3  Maruti Vitara Brezza  2019.0     51718      1  DIESEL    WB-24
4           4            Tata Tiago  2021.0     19811      1  PETROL    HR-51

       Drive       Type    Price
0     Manual  HatchBack   514000
1     Manual      Sedan   674000
2  Automatic        SUV  1952000
3     Manual        SUV   690000
4     Manual  HatchBack   526000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8015 entries, 0 to 8014
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8015 non-null   int64
 1   Car Name    8014 non-null   object
 2   Year        8014 non-null   float64
 3   Distance    8015 non-null   int64
 4   Owner       8015 non-null   int64
 5   Fuel        8015 non-null   object
 6   Location    7802 non-null   object
 7   Drive       8015 non-null   object
 8   Type        8015 non-null   object
 9   Price       8015 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 626.3+ KB
None
        Unnamed: 0         Year       Distance        Owner         Price
count  8015.000000  8014.000000    8015.000000  8015.000000  8.015000e+03
mean   4007.000000  2016.995009   52621.411728     1.300187  5.748829e+05
std    2313.875537     2.861454   29182.922728     0.510893  2.651049e+05
min       0.000000  2010.000000       0.000000     1.000000  1.190000e+05
25%    2003.500000  2015.000000   30730.000000     1.000000  3.930000e+05
50%    4007.000000  2017.000000   50359.000000     1.000000  5.350000e+05
75%    6010.500000  2019.000000   71762.000000     2.000000  6.980000e+05
max    8014.000000  2023.000000  971212.000000     4.000000  3.300000e+06

In [15]:
print(df.isnull().sum())

Unnamed: 0      0
Car Name        1
Year            1
Distance        0
Owner           0
Fuel            0
Location      213
Drive           0
Type            0
Price           0
dtype: int64

## Sorting the table first

In [ ]:
df.sort_values(by=['Car Name','Year','Distance','Owner','Fuel','Location','Drive','Type','Price'],ascending=True,inplace=True)
print(df)

KeyError: "['Unnamed'] not found in axis"

## Data cleaning

In [39]:


df['Location'].fillna("Punjab",inplace=True)
df['Car Name'].fillna("Audi X3",inplace=True)
df['Year'].fillna("2023",inplace=True)
print(df)

      Unnamed: 0          Car Name    Year  Distance  Owner    Fuel Location  \
1706        1706      BMW 3 Series  2013.0    153870      3  DIESEL    CH-01
5041        5041         Datsun Go  2014.0     18499      1  PETROL    MH-01
3741        3741         Datsun Go  2014.0     62884      1  PETROL    WB-24
981          981         Datsun Go  2014.0     66599      1  PETROL    KL-01
2145        2145         Datsun Go  2016.0     42285      1  PETROL    BR-01
...          ...               ...     ...       ...    ...     ...      ...
7135        7135  Volkswagen Vento  2021.0     28085      1  PETROL    GJ-05
5921        5921  Volkswagen Vento  2021.0     37535      1  PETROL    MH-02
4826        4826  Volkswagen Vento  2021.0     91750      2  PETROL    MH-43
7396        7396  Volkswagen Vento  2022.0     42247      1  PETROL    KA-05
4901        4901           Audi X3    2023     13794      1  PETROL    DL-14

          Drive       Type    Price
1706  Automatic  Lux_sedan  1005000
5041     Manual  HatchBack   250000
3741     Manual  HatchBack   179000
981      Manual  HatchBack   195000
2145     Manual  HatchBack   203000
...         ...        ...      ...
7135  Automatic      Sedan  1144000
5921  Automatic      Sedan   662000
4826     Manual      Sedan   624000
7396     Manual      Sedan   775650
4901  Automatic      Sedan   976000

[8015 rows x 10 columns]

C:\Users\Anshuman Dutta\AppData\Local\Temp\ipykernel_19180\3449759998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna("Punjab",inplace=True)

In [38]:
print(df.isnull().sum())

Unnamed: 0    0
Car Name      0
Year          0
Distance      0
Owner         0
Fuel          0
Location      0
Drive         0
Type          0
Price         0
dtype: int64

## Saving Clean Data

In [ ]:
df.to_csv("cars_24_combined_cleaned.csv", index=False)

## Now reading new data and visualizing

In [53]:
df=pd.read_csv("cars_24_combined_cleaned.csv")
print(df)

              Car Name    Year  Distance  Owner    Fuel Location      Drive  \
0         BMW 3 Series  2013.0    153870      3  DIESEL    CH-01  Automatic
1            Datsun Go  2014.0     18499      1  PETROL    MH-01     Manual
2            Datsun Go  2014.0     62884      1  PETROL    WB-24     Manual
3            Datsun Go  2014.0     66599      1  PETROL    KL-01     Manual
4            Datsun Go  2016.0     42285      1  PETROL    BR-01     Manual
...                ...     ...       ...    ...     ...      ...        ...
8010  Volkswagen Vento  2021.0     28085      1  PETROL    GJ-05  Automatic
8011  Volkswagen Vento  2021.0     37535      1  PETROL    MH-02  Automatic
8012  Volkswagen Vento  2021.0     91750      2  PETROL    MH-43     Manual
8013  Volkswagen Vento  2022.0     42247      1  PETROL    KA-05     Manual
8014           Audi X3  2023.0     13794      1  PETROL    DL-14  Automatic

           Type    Price
0     Lux_sedan  1005000
1     HatchBack   250000
2     HatchBack   179000
3     HatchBack   195000
4     HatchBack   203000
...         ...      ...
8010      Sedan  1144000
8011      Sedan   662000
8012      Sedan   624000
8013      Sedan   775650
8014      Sedan   976000

[8015 rows x 9 columns]